.rd_contents_box {
    max-width: 1050px;
}

.rd_header h2 {
    font-size: 32px;
    color: #343B8C;
    font-weight: bold;
    margin-top: 100px;
}

.rd_rd_reservation_status_total {
    display: flex;
    flex-direction: column;
    margin: 1rem;
}

.rd_reservation_status {
    gap: 2em;
}


.rd_reservation_status div h4 {
    font-size: 20px;
    font-weight: bold;
    margin-top: 0.5em;
}

.rd_graybox {
    background-color: #EAEAEA;
    border: none;
    border-radius: 10px;
    padding: 1em;
    gap: 1em;
}

.rd_whitebox {
    width: 3em;
    height: 3em;
    background-color: white;
    border: 1px solid #9E9E9E;
    border-radius: 10px;
    gap: 1em;
}

.rd_gridbox2 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

.rd_gridbox4 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.rd_gridbox8 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.rd_gridbox12 {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

.rd_reservation_status {
    display: flex;
    flex-direction: column;
}

.rd_reservation_status_first_row {
    display: flex;
    flex: 1;
    gap: 1em;
    justify-content: center;
}

.rd_reservation_status_second_row {
    display: flex;
    flex: 1;
    gap: 1em;
    justify-content: center;
}

.rd_reservation_status_third_row {
    display: flex;
    flex: 1;
    gap: 1em;
    justify-content: center;
}

#rd_reservation_status_text1 {
    width: 4em;
    height: 1.7em;
    text-align: center;
}

#rd_reservation_status_text1 p {
    margin-bottom: 0;
}

#rd_reservation_status_text1 {
    width: 4em;
    height: 1.7em;
    text-align: center;
}

#rd_reservation_status_text2 {
    width: 9em;
    height: 1.7em;
    text-align: center;
}

#rd_reservation_status_text3 {
    width: 9em;
    height: 1.7em;
    text-align: center;
}

#rd_reservation_status_blank1 {
    background-color: transparent;
    padding: 2em;
}

#rd_reservation_status_blank2 {
    background-color: transparent;
    padding: 1.9em;
}

.rd_reservation_status_text_box {
    display: flex;
    align-items: flex-end;
    gap: 2em;
}

.rd_reservation_contents {
    display: flex;
    flex: 1;
    justify-content: space-between;
    margin-top: 3em;
    margin-bottom: 2em;
    max-width: 980px;
}

.rd_reservation_contents h4 {
    font-size: 20px;
    font-weight: bold;
}

.rd_underline {
    border-bottom: 1px solid black;
    margin-bottom: 3em;
    max-width: 1020px;
}

.rd_caution {
    padding: 0 1em;
    margin-bottom: 3em;
    max-width: 1020px;
}

.rd_caution div h5 {
    margin-bottom: 1em;
}

#rd_caution_contents {
    padding-left: 0;
}

#rd_caution_contents li {
    margin-bottom: 1em;
}


/* .rd_reservation_status_first_row:nth-child(1) { flex-grow: 3; }
.rd_reservation_status_first_row:nth-child(2) { flex-grow: 1; }
.rd_reservation_status_first_row:nth-child(3) { flex-grow: 2; }
.rd_reservation_status_first_row:nth-child(4) { flex-grow: 1; } */
