#reservation-seat {
    margin: 10rem auto 3rem
}

#reservation-seat h3, #reservation-seat p {
    text-align: center;
    font-weight: bold;
}

#reservation-seat h3 {
    color: #03045E;
}

#reservation-share {
    border-top: 2px solid #B0B0B0;
    padding: 1.3rem;
}

#r-share-header {
    display: flex;
    justify-content: space-between;
}

#reservation-share button {
    border: 0;
    font-weight: bold;
    color: white;
}

#r-share-header p {
    font-size: large;
}

#r-share-header button {
    width: 3rem;
    height: 2rem;
    background-color: #03045E;
    border-radius: 10px;
}

.add-user {
    width: 65%;
    display: flex;
    justify-content: space-between;
    margin: 2rem auto;
}

.add-user input, .add-user button {
    height: 2rem;
    border-radius: 0.3rem;
    border: 1px solid black;
}

.add-user #user-name{
    width: 32%;
}

.add-user #user-id{
    width: 52%;
}

.add-user button {
    width: 10%;
    background-color: #343D87;
}