/* 층수 및 시간 선택 버튼 스타일링 */
.button-group {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin: 0 1rem 20px;
}

.floor-button, .time-button {
    background-color: #e0e0e0;
    border: none;
    font-weight: bold;
    margin-top: 20px;
    padding: 15px 25px;
    font-size: 1rem;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.floor-button:hover, .time-button:hover {
    background-color: #ccc;
}

.floor-button:active, .time-button:active {
    background-color: #b3b3b3;
}

.selected {
    background-color: #343B8C;
    color: white;
}

.hidden {
    display: none; /* 기본적으로 자리 선택 섹션을 숨김 */
}

.content-container {
    color: #454545;
    margin-top: 50px;
}

section h4 {
    font-weight: bold;
    padding: 1rem;
    border-bottom: 2px solid #D8D8D8;
    margin: 0;
}

#reserve-section {
    display: flex;
    justify-content: center;
    padding: 1rem 0;
    margin-bottom: 20px;
}

#reserve-btn {
    border-radius: 0.3rem;
    background-color: black;
}

#reserve-btn a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

/*자리관련*/
.rd_graybox {
    background-color: #EAEAEA;
    border: none;
    border-radius: 10px;
    padding: 1em;
    gap: 1em;
}

.rd_whitebox {
    width: 3em;
    height: 3em;
    background-color: white;
    border: 1px solid #9E9E9E;
    border-radius: 10px;
    gap: 1em;
}

.rd_gridbox2 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

.rd_gridbox4 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.rd_gridbox8 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.rd_gridbox12 {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

.rd_reservation_status {
    display: flex;
    flex-direction: column;
}

.rd_reservation_status_first_row {
    display: flex;
    flex: 1;
    gap: 1em;
}

.rd_reservation_status_second_row {
    display: flex;
    flex: 1;
    gap: 1em;
}

.rd_reservation_status_third_row {
    display: flex;
    flex: 1;
    gap: 1em;
}

#rd_reservation_status_text1 {
    width: 4em;
    height: 1.7em;
    text-align: center;
}

#rd_reservation_status_text1 p {
    margin-bottom: 0;
}

#rd_reservation_status_text1 {
    width: 4em;
    height: 1.7em;
    text-align: center;
}

#rd_reservation_status_text2 {
    width: 9em;
    height: 1.7em;
    text-align: center;
}

#rd_reservation_status_text3 {
    width: 9em;
    height: 1.7em;
    text-align: center;
}

#rd_reservation_status_blank1 {
    background-color: transparent;
    padding: 2em;
}

#rd_reservation_status_blank2 {
    background-color: transparent;
    padding: 1.9em;
}

.rd_reservation_status_text_box {
    display: flex;
    align-items: flex-end;
    gap: 2em;
}

.rd_reservation_status {
    gap: 2em;
    margin-top: 20px;
}